abbr: ""
accessKey: ""
align: ""
attributeStyleMap: StylePropertyMap {size: 0}
attributes: NamedNodeMap {length: 0}
autocapitalize: ""
autofocus: false
axis: ""
baseURI: "file:///G:/desktorp%202ndnov2020/New%20folder%20(2)/index.html"
bgColor: ""
cellIndex: 0
ch: ""
chOff: ""
childElementCount: 0
childNodes: NodeList [text]
children: HTMLCollection []
classList: DOMTokenList [value: '']
className: ""
clientHeight: 20
clientLeft: 0
clientTop: 0
clientWidth: 141
colSpan: 1
contentEditable: "inherit"
dataset: DOMStringMap {}
dir: ""
draggable: false
elementTiming: ""
enterKeyHint: ""
firstChild: text
headers: ""
height: ""
hidden: false
id: ""
inert: false
innerHTML: "heading 1/column 1"
innerText: "heading 1/column 1"
inputMode: ""
isConnected: true
isContentEditable: false
lang: ""
lastChild: text
localName: "th"
namespaceURI: "http://www.w3.org/1999/xhtml"
nextElementSibling: th
nextSibling: text
noWrap: false
nodeName: "TH"
nodeType: 1
nonce: ""
offsetHeight: 20
offsetLeft: 2
offsetParent: table
offsetTop: 2
offsetWidth: 141
outerHTML: "<th>heading 1/column 1</th>"
outerText: "heading 1/column 1"
ownerDocument: document
parentElement: tr
parentNode: tr
part: DOMTokenList [value: '']
previousSibling: text
rowSpan: 1
scope: ""
scrollHeight: 20
scrollLeft: 0
scrollTop: 0
scrollWidth: 141
slot: ""
spellcheck: true
style: CSSStyleDeclaration {accentColor: '', additiveSymbols: '', alignContent: '', alignItems: '', alignSelf: '', …}
tabIndex: -1
tagName: "TH"
textContent: "heading 1/column 1"
title: ""
translate: true
vAlign: ""
virtualKeyboardPolicy: ""
width: ""